/* Font */
$font: "Hanken Grotesk", sans-serif;
$primary: #fefdf2;
$secondary: #7489ef;
$secondary-dark: #3d5cbc;
$secondary-light: #a8b9ff;
$tertiary: #ec753d;
$tertiary-light: #ff9c70;
$on-primary: #3f3d36;
$on-primary-light: #6a6760;

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  background-color: $primary;
  color: $secondary-dark;
  margin: 0 auto;
}
section {
  padding-top: 1.7em;
}
.layout-wrapper{
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.content{
  scroll-snap-align: start;
  height: 100vh;
}
.content,
.mdc-layout-grid {
  max-width: 1100px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 5rem; //80px
  font-weight: 700;
  line-height: 5.625rem;
  color: $tertiary;
  margin-bottom: 0;
}

h2 {
  font-size: 3.5rem; //56px
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.125rem; //18px
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: 1.125rem; //18px
  font-weight: 400;
  line-height: 1.75rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  color: $secondary-dark;
  cursor: pointer;
  transition: all 0.35s;
}
table td {
  font-size: 18px;
}

.btn {
  color: $primary;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  padding: 10px 34px;
  transition: all 0.35s;
}

.btn--tertiary {
  background-color: $tertiary;
  border-color: $tertiary;
  &:hover {
    color: $tertiary;
    background-color: transparent;
  }
}
.btn--secondary {
  background-color: $secondary-dark;
  border-color: $secondary-dark;
  &:hover {
    color: $secondary-dark;
    background-color: transparent;
  }
}

ul {
  list-style: none;
  padding: 0;
  li {
    font-size: 1.125rem; // 18px
  }
}

.logo-animation {
  transition: 0.5s;
}

.logo .logo-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 0.5s;
}
.link:hover .animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}
.logo:hover .logo-animation {
  stroke: $secondary-dark;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Navbar section */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 24px 0;
  .logo {
    align-self: center;
  }
  ul {
    display: flex;
    li {
      a {
        padding: 10px 34px;
        &:hover {
          color: $secondary-light;
        }
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $secondary-dark;
  }
  @media screen and (min-width: 1001px) {
    a.btn {
      margin-left: 34px;
    }
  }

  @media (max-width: 1000px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      flex-direction: column;
      background-color: $primary;
      width: 100%;
      padding: 24px 0;
      text-align: center;
      transition: 0.3s;
      &.active {
        left: 0;
      }
    }

    .nav-item {
      margin: 16px 0;
    }
    .hamburger {
      display: block;
      width: 100px;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 5px);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -4px);
    }
  }
}

.intro {
  .content {
    display: flex;
  }
  .intro_content {
    padding-top: 4em;
    max-width: 60%;
    h2 {
      font-size: 3rem;
      font-weight: 500;
      margin-top: 12px;
    }
  }
  .intro_img img {
    width: 50%;
    height: auto;
  }
  .link {
    color: $secondary-dark;
    margin: 20px 0;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    span {
      font-weight: 500;
      font-size: 18px;
    }
    svg {
      margin-left: 12px;
      transition: all 0.5s;
    }
    svg path {
      transition: all 0.5s;
    }
    &:hover {
      color: $primary;
      background-color: #ff9c70;
      padding: 10px 26px;
      border-radius: 50px;
      svg {
        margin-left: 18px;
      }
      svg path {
        stroke: $primary;
      }
    }
  }
}
.my-journey {
  background-color: $secondary-dark;
  color: $primary;
  h2,
  p {
    max-width: 500px;
  }
  h2 {
    color: $tertiary-light;
  }
  p {
    font-size: 1.25em;
    line-height: 1.75;
  }
  a {
    color: #ffb998;
    position: relative;
    text-decoration: none;
    padding-bottom: 30px;
  }

  svg {
    display: block;
    position: absolute;
    padding: 0.3em 0;
    overflow: hidden;
    top: 16px;
    left: 0px;
    width: 100%;
  }
  a:hover .line,
  a:focus .line {
    stroke-dashoffset: 0;
  }
  .line {
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    transition: stroke-dashoffset 1s ease;
  }
}
.my-skills {
  h4 {
    position: relative;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ffb998;
    text-underline-offset: 0.4em;
  }
  table {
    td {
      line-height: 1.5;
      &::before {
        content: "\2022";
        color: #ffb998;
        font-weight: bold;
        display: inline-block;
        width: 1em;
      }
    }
  }
}

.my-work {
  color: $secondary-dark;
  background-color: $primary;
  h2 {
    color: $tertiary;
  }
  h2,
  p {
    max-width: 75%;
  }
  p {
    margin-bottom: 4.5em;
  }
  ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
  .case-study {
    display: flex;
    flex-direction: column;
    background-color: #f9f9fb;
    box-shadow: 0 2px 23px 0 rgb(132 132 132 / 14%);
    border-radius: 20px;
    .case-study_link {
      height: 240px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      figure {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f0f0fa;
        text-align: center;
        margin: 0;
        padding-top: 10px;
        width: 100%;
        height: 120px;
        img {
          height: auto;
          text-align: center;
          object-fit: cover;
        }
        .visuallyhidden {
          display: none;
          overflow: hidden;
        }
      }
      .case-study_content {
        padding: 16px 34px 32px;
        span {
          display: block;
        }
      }
    }
  }
}

.contact {
  background-color: $secondary-dark;
}

.fixed-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 44px;
  padding: 6px 0;
  background-color: $secondary;
  p,
  a {
    font-size: 14px;
    color: $primary;
  }
  .content {
    display: flex;
    justify-content: space-between;
    a.link {
      color: $primary;
      svg {
        margin-left: 18px;
        path {
          stroke: $primary;
        }
      }
    }
  }
}
