@charset "UTF-8";
/* Font */
/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #fefdf2;
  color: #3d5cbc;
  margin: 0 auto;
}

section {
  padding-top: 1.7em;
}

.layout-wrapper {
  overflow: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  height: 100vh;
}

.content {
  scroll-snap-align: start;
  height: 100vh;
}

.content,
.mdc-layout-grid {
  max-width: 1100px;
  margin: 0 auto;
}

/* Typography */
h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.625rem;
  color: #ec753d;
  margin-bottom: 0;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #3d5cbc;
  cursor: pointer;
  transition: all 0.35s;
}

table td {
  font-size: 18px;
}

.btn {
  color: #fefdf2;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  padding: 10px 34px;
  transition: all 0.35s;
}

.btn--tertiary {
  background-color: #ec753d;
  border-color: #ec753d;
}
.btn--tertiary:hover {
  color: #ec753d;
  background-color: transparent;
}

.btn--secondary {
  background-color: #3d5cbc;
  border-color: #3d5cbc;
}
.btn--secondary:hover {
  color: #3d5cbc;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  font-size: 1.125rem;
}

.logo-animation {
  transition: 0.5s;
}

.logo .logo-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear forwards;
          animation: dash 5s linear forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.link:hover .animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 5s linear forwards;
          animation: dash 5s linear forwards;
}

.logo:hover .logo-animation {
  stroke: #3d5cbc;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/* Navbar section */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 24px 0;
}
.nav .logo {
  align-self: center;
}
.nav ul {
  display: flex;
}
.nav ul li a {
  padding: 10px 34px;
}
.nav ul li a:hover {
  color: #a8b9ff;
}
.nav .hamburger {
  display: none;
  cursor: pointer;
}
.nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #3d5cbc;
}
@media screen and (min-width: 1001px) {
  .nav a.btn {
    margin-left: 34px;
  }
}
@media (max-width: 1000px) {
  .nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #fefdf2;
    width: 100%;
    padding: 24px 0;
    text-align: center;
    transition: 0.3s;
  }
  .nav .nav-menu.active {
    left: 0;
  }
  .nav .nav-item {
    margin: 16px 0;
  }
  .nav .hamburger {
    display: block;
    width: 100px;
  }
  .nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 5px);
  }
  .nav .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -4px);
  }
}

.intro .content {
  display: flex;
}
.intro .intro_content {
  padding-top: 4em;
  max-width: 60%;
}
.intro .intro_content h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 12px;
}
.intro .intro_img img {
  width: 50%;
  height: auto;
}
.intro .link {
  color: #3d5cbc;
  margin: 20px 0;
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.intro .link span {
  font-weight: 500;
  font-size: 18px;
}
.intro .link svg {
  margin-left: 12px;
  transition: all 0.5s;
}
.intro .link svg path {
  transition: all 0.5s;
}
.intro .link:hover {
  color: #fefdf2;
  background-color: #ff9c70;
  padding: 10px 26px;
  border-radius: 50px;
}
.intro .link:hover svg {
  margin-left: 18px;
}
.intro .link:hover svg path {
  stroke: #fefdf2;
}

.my-journey {
  background-color: #3d5cbc;
  color: #fefdf2;
}
.my-journey h2,
.my-journey p {
  max-width: 500px;
}
.my-journey h2 {
  color: #ff9c70;
}
.my-journey p {
  font-size: 1.25em;
  line-height: 1.75;
}
.my-journey a {
  color: #ffb998;
  position: relative;
  text-decoration: none;
  padding-bottom: 30px;
}
.my-journey svg {
  display: block;
  position: absolute;
  padding: 0.3em 0;
  overflow: hidden;
  top: 16px;
  left: 0px;
  width: 100%;
}
.my-journey a:hover .line,
.my-journey a:focus .line {
  stroke-dashoffset: 0;
}
.my-journey .line {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  transition: stroke-dashoffset 1s ease;
}

.my-skills h4 {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  -webkit-text-decoration-color: #ffb998;
          text-decoration-color: #ffb998;
  text-underline-offset: 0.4em;
}
.my-skills table td {
  line-height: 1.5;
}
.my-skills table td::before {
  content: "•";
  color: #ffb998;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.my-work {
  color: #3d5cbc;
  background-color: #fefdf2;
}
.my-work h2 {
  color: #ec753d;
}
.my-work h2,
.my-work p {
  max-width: 75%;
}
.my-work p {
  margin-bottom: 4.5em;
}
.my-work ul {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.my-work .case-study {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fb;
  box-shadow: 0 2px 23px 0 rgba(132, 132, 132, 0.14);
  border-radius: 20px;
}
.my-work .case-study .case-study_link {
  height: 240px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.my-work .case-study .case-study_link figure {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0fa;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  height: 120px;
}
.my-work .case-study .case-study_link figure img {
  height: auto;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-work .case-study .case-study_link figure .visuallyhidden {
  display: none;
  overflow: hidden;
}
.my-work .case-study .case-study_link .case-study_content {
  padding: 16px 34px 32px;
}
.my-work .case-study .case-study_link .case-study_content span {
  display: block;
}

.contact {
  background-color: #3d5cbc;
}

.fixed-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 44px;
  padding: 6px 0;
  background-color: #7489ef;
}
.fixed-footer p,
.fixed-footer a {
  font-size: 14px;
  color: #fefdf2;
}
.fixed-footer .content {
  display: flex;
  justify-content: space-between;
}
.fixed-footer .content a.link {
  color: #fefdf2;
}
.fixed-footer .content a.link svg {
  margin-left: 18px;
}
.fixed-footer .content a.link svg path {
  stroke: #fefdf2;
}/*# sourceMappingURL=styles.css.map */