/* Font */
/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #fefdf2;
  color: #3d5cbc;
  margin: 0 auto;
}

/*.layout-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}*/
section {
  padding: 1.75em 0 6em;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.logo svg:hover {
  stroke: #3d5cbc;
}

/* Typography */
h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.625rem;
  color: #ec753d;
  margin-bottom: 0;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #3d5cbc;
  cursor: pointer;
  transition: color 0.5s;
}
a:hover {
  color: #a8b9ff;
}

.btn {
  color: #fefdf2;
  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  padding: 10px 34px;
  transition: all 0.5s;
}

.btn--tertiary {
  background-color: #ec753d;
  border-color: #ec753d;
}
.btn--tertiary:hover {
  color: #ec753d;
  background-color: transparent;
}

.btn--secondary {
  background-color: #3d5cbc;
  border-color: #3d5cbc;
}
.btn--secondary:hover {
  color: #3d5cbc;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  font-size: 1.125rem;
}

/* Navbar section */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 24px 0;
}
.nav .logo {
  align-self: center;
}
.nav ul {
  display: flex;
}
.nav ul li a {
  padding: 10px 34px;
}
.nav .hamburger {
  display: none;
  cursor: pointer;
}
.nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #3d5cbc;
}
@media screen and (min-width: 1001px) {
  .nav a.btn {
    margin-left: 34px;
  }
}
@media (max-width: 1000px) {
  .nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #fefdf2;
    width: 100%;
    padding: 24px 0;
    text-align: center;
    transition: 0.3s;
  }
  .nav .nav-menu.active {
    left: 0;
  }
  .nav .nav-item {
    margin: 16px 0;
  }
  .nav .hamburger {
    display: block;
    width: 100px;
  }
  .nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 5px);
  }
  .nav .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -4px);
  }
}

.intro {
  padding-bottom: 20em;
}
.intro .intro_content {
  padding-top: 4em;
  max-width: 60%;
}
.intro .intro_content h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 12px;
}

.about {
  background-color: #3d5cbc;
}
.about h2 {
  color: #ff9c70;
  max-width: 500px;
}
.about p {
  color: #fefdf2;
  max-width: 500px;
  word-wrap: break-word;
}
.about a {
  color: #fefdf2;
  text-decoration: underline;
  transition: color 0.35s;
}
.about a:hover {
  color: #ff9c70;
}

.work {
  color: #3d5cbc;
  background-color: #fefdf2;
}
.work p {
  margin-bottom: 4em;
  max-width: 500px;
}
.work ul {
  display: grid;
  grid-template-columns: auto auto auto;
}
.work .case-study {
  color: #3d5cbc;
  background-color: white;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 15px 8px 6px -6px rgb(242, 242, 246);
  transition: transform 0.3s;
}
.work .case-study figure {
  background-color: #F4F4FB;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
  text-align: center;
  padding: 34px;
}
.work .case-study figure img {
  width: auto;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .case-study figure .visuallyhidden {
  display: none;
  overflow: hidden;
}
.work .case-study .case-study_content {
  padding: 22px 12px;
}
.work .case-study .case-study_content span {
  display: block;
}
.work .case-study .case-study_content a {
  color: #7489ef;
}
.work .case-study:hover {
  transform: translateY(-8px);
}

.contact {
  background-color: #3d5cbc;
}/*# sourceMappingURL=styles.css.map */